# Generic
*.log
*.lis
*.tmp

# Emacs
*~

# Maven
target/
.flattened-pom.xml

# Autotools
aclocal.m4
autom4te.cache/
*.in
config/
configure
VERSION

# Copied by bootstrap
config/dbug.m4
ln_oracle_tools.sh

# Doxygen
doc/c/
doc/sql/

# Make build directories
build/
b/
.deps/

# Soft Links
ln_oracle_tools.sh