# Logging
*.log

# Emacs
*~

# Maven
target/
.flattened-pom.xml

# Autotools
aclocal.m4
autom4te.cache/
build/
*.in
config/
configure
VERSION
Makefile
config.h
config.status
Doxyfile
Makefile
.deps/
libtool
epcdaemon.pl
stamp-h1

# Perl pod2html
pod2htmd.tmp
